/* src/styles/components/whatsapp-button.css */

/* Base styles for the WhatsApp button */
.whatsapp-hero-button {
  @apply flex items-center justify-center bg-primary-light border border-accent-dark text-neutral-dark rounded-3xl px-9 transition duration-300 ease-in shadow-lg h-[40px] md:h-[48px] relative overflow-hidden min-w-[180px] sm:min-w-[140px];
}

/* Hover effect for the button */
.whatsapp-hero-button:hover {
  @apply text-white border-primary-dark scale-105 bg-accent-dark shadow-2xl;
}

/* Icon style using mask */
.whatsapp-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background-color: var(--whatsapp-color, theme('colors.whatsapp.DEFAULT')); /* Sets the background color of the icon */
  mask: url('/icons/whatsappIcon.svg') no-repeat center; /* Loads the icon SVG as a mask */
  mask-size: contain;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease; /* Smooth transition for background and opacity */
}

/* Hides the icon on hover */
.whatsapp-hero-button:hover .whatsapp-icon {
  background-color: var(--whatsapp-hover-color, theme('colors.whatsapp.hover')); /* Changes the color of the icon on hover */
  opacity: 0; /* Fades out the icon */
}

/* Initial text styles */
.whatsapp-text {
  font-size: 14px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Text transition on hover */
.whatsapp-hero-button:hover .whatsapp-text {
  @apply font-semibold;
  opacity: 0;
  transform: translateY(-20px); /* Slide up the original text */
}

/* After pseudo-element used to show new text on hover */
.whatsapp-hero-button::after {
  content: "Chatea con nosotros"; /* Text to display on hover */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 20px); /* Start slightly below */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover */
  white-space: nowrap; /* Prevents wrapping */
}

/* Final state on hover */
.whatsapp-hero-button:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%); /* Center and fade-in the new text */
}
