/* src/styles/ui/_card.scss */
@use '../tokens' as tokens;

.card-base {
	background-color: tokens.$base-neutral-0;
	border-radius: 0.5rem;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 10%),
		0 2px 4px -1px rgb(0 0 0 / 6%);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
