// src/styles/global/_variables.scss

@use 'sass:map';

// ----------------------------------------------------
// Global Design Tokens & Color Palette
// ----------------------------------------------------

$colors: (
	primary: (
		light: #f9ece3,
		default: #e8cfc6,
		dark: #9f697b,
	),
	secondary: (
		light: #f4f4f4,
		default: #d4d4d4,
		dark: #a6a6a6,
	),
	accent: (
		light: #ffe6e6,
		default: #ffc9c9,
		dark: #dc9e73,
	),
	neutral: (
		lightest: #ffffff,
		light: #fafafa,
		medium: #e5e5e5,
		dark: #757575,
		darkest: #424242,
	),
	background: (
		default: #ffffff,
		alt: #fafafa,
	),
	text: (
		default: #333333,
		light: #757575,
	),
	whatsapp: (
		default: #25d366,
		hover: #20b157,
	),
);

$backdrop-blurs: (
	xs: blur(2px),
	sm: blur(4px),
	md: blur(8px),
	lg: blur(12px),
	xl: blur(16px),
);

// Typography
$font-stack: (
	'Rubik Variable',
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	'Helvetica Neue',
	Arial,
	'Noto Sans',
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji',
	'Segoe UI Symbol',
	'Noto Color Emoji'
);

// Transition timing functions and component-specific settings
$transition-timing: (
	smooth: cubic-bezier(0.4, 0, 0.2, 1),
	snappy: cubic-bezier(0.25, 1, 0.5, 1),
	overshoot: cubic-bezier(0.3, 1.5, 0.7, 1),
	bouncy: cubic-bezier(0.68, -0.55, 0.27, 1.55),
);

$transitions-by-component: (
	button: (
		duration: 0.2s,
		timing: map.get($transition-timing, smooth),
	),
	card: (
		duration: 0.3s,
		timing: map.get($transition-timing, snappy),
	),
	card-item: (
		duration: 0.3s,
		timing: map.get($transition-timing, overshoot),
	),
	header: (
		duration: 1s,
		timing: map.get($transition-timing, smooth),
	),
	menu: (
		duration: 0.25s,
		timing: map.get($transition-timing, snappy),
	),
	modal: (
		duration: 0.25s,
		timing: map.get($transition-timing, bouncy),
	),
	section-nav-button: (
		duration: 0.3s,
		timing: ease-in-out,
	),
	whatsapp-button: (
		duration: 0.4s,
		timing: ease-in-out,
	),
	whatsapp-button-after: (
		duration: 0.3s,
		timing: map.get($transition-timing, overshoot),
	),
);

$default-transition-duration: 0.4s;
$default-transition-timing: map.get($transition-timing, smooth);

// Breakpoints for responsive design
$breakpoints: (
	xs: 375px,
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1536px,
);

// Border radii for various components
$border-radius: (
	small: 0.25rem,
	modal-button: 0.25rem,
	default: 0.5rem,
	card: 0.75rem,
	container: 1rem,
	button: 1.5rem,
	oval: 9999px,
);

// z-index layers
$z-index: (
	behind: -1,
	default: 1,
	header: 10,
	navButton: 15,
	modal: 12,
	tooltip: 10,
	highest: 14,
	music: 10,
);
