# Editor configuration, see https://editorconfig.org
# This comment indicates that this file follows the EditorConfig standard and provides a link for more information.

root = true
# Indicates that this is the root EditorConfig file and no other .editorconfig files should be used beyond this directory.

[*]
# The section that applies to all files.

charset = utf-8
# Sets the character encoding to UTF-8 for all files.

indent_style = tab
# Uses tabs for indentation in all files.

indent_size = 4
# Sets the size of a tab to 4 spaces. This is relevant if you use tab indentation.

end_of_line = lf
# Sets the line endings to LF (Unix style) for all files.

insert_final_newline = true
# Ensures that a newline character is inserted at the end of each file.

trim_trailing_whitespace = true
# Removes any trailing whitespace at the end of each line in all files.
