/* src/frontend/styles/components/header/logo.css */
/* Styles specific to the Logo component to ensure clear branding and responsive behavior */

.logo-wrapper {
	display: flex;
	align-items: center;
	margin-top: 0.25rem; /* Slightly adjusts the vertical alignment */
}

.logo-wrapper.logo-wrapper-footer {
	transform: translateX(0.5rem);
}

.logo-link {
	display: flex;
	align-items: center;
	gap: 0.5rem; /* Adds spacing between the logo and any other elements if present */
	transition: transform 0.3s ease-in-out;
}

.logo-link img {
	display: block;
	height: auto;
	max-width: 400px; /* Ensures the logo does not exceed a specific size */
	transition: transform 0.3s ease-in-out; /* Adds a subtle hover effect */
}

/* Logo hover effect for enhanced interactivity */
.logo-link img:hover {
	transform: scale(1.05); /* Slightly enlarges the logo on hover for emphasis */
}

.logo-link.logo-hero img:hover {
	transform: scale(1);
}
