---
import { twMerge } from "tailwind-merge";

interface GridProps {
	columns?: number; // Number of columns in the grid
	gap?: string; // Gap between grid items
	padding?: string; // Padding inside the grid container
	margin?: string; // Margin around the grid container
	align?: string; // Alignment of grid items
	maxWidth?: string; // Maximum width of the grid container
	extraClass?: string; // Additional CSS classes for customization
}

const {
	columns = 3,
	gap = "gap-x-0 lg:gap-x-12",
	padding = "",
	margin = "mx-auto",
	align = "justify-items-center",
	maxWidth = "sm:max-w-80 lg:max-w-fit",
	extraClass = "",
} = Astro.props as GridProps;

const gridClasses = twMerge(
	`grid grid-cols-1 xl:grid-cols-${columns}`,
	gap,
	padding,
	align,
	margin,
	maxWidth,
	extraClass,
);
---

<!-- Main container ensuring items are centered -->
<div class="flex w-full justify-center items-center">
	<!-- Grid layout with dynamic columns and proper centering -->
	<div class={gridClasses}>
		<slot />
	</div>
</div>
