/* src/styles/utilities/custom-utilities.css */

/* Custom Utility Classes */

/* Hover and Focus Effects */

/* Subtle lift effect on hover */
.hover-lift {
    @apply transition-transform duration-300 ease-in-out hover:-translate-y-0.5;
}


/* You can add more custom utility classes here as needed */

/* Example: Custom text shadow utilities */
.shadow-text-light {
    text-shadow: 2px 2px 4px rgba(1, 0, 0, .3) !important;
}

.shadow-text {
    text-shadow: 2px 2px 3px rgba(1, 0, 0, .5) !important;
}

.shadow-text-dark {
    text-shadow: 2px 2px 4px rgba(1, 0, 0, .8) !important;
}


/* Note: Be cautious when adding custom utilities.
   Ensure they don't conflict with existing Tailwind utilities
   and that they follow your project's naming conventions. */
