@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.card-effect-hovered {
    border-color: var(--secondary-light) !important;
	transition:
		border-color 0.3s ease;
}

.card-action-effect-hovered {
    background-color: var(--secondary-light);
    color: var(--white);
	transition: all 0.3s ease;
}

.card-title-effect-hovered {
    color: var(--secondary-dark) !important;
	transition: all 0.3s ease;
}

.card-subtitle-effect-hovered {
	color: var(--secondary-light) !important;
	transition: all 0.3s ease;
}

.card-text-effect-hovered {
	color: var(--secondary-dark) !important;
	transition: all 0.3s ease;
}
