---
// src/frontend/layouts/Layout.astro
import '@fontsource-variable/rubik/index.css';
import SpeedInsights from '@vercel/speed-insights/astro';
import '@/frontend/styles/global.css';
import { SiteInfo } from '@interfaces/data/siteInfo.interface';
import { SeoData } from '@interfaces/data/seoData.interface';

interface Props {
	siteInfo: SiteInfo;
	seoData: SeoData;
}

const { siteInfo, seoData } = Astro.props;
---

<!doctype html>
<html
	class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
	lang={siteInfo.lang ?? 'en'}
>
	<head>
		<meta charset={siteInfo.charset ?? 'UTF-8'} />
		<title>{siteInfo.title}</title>
		<meta name="description" content={siteInfo.description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="icons/favicon.svg" />
		<link rel="canonical" href={import.meta.env.SITE} />
		<script type="application/ld+json" set:html={seoData} is:inline />
		<SpeedInsights />
	</head>
	<body class="bg-white">
		<slot />
		<style is:global>
			body {
				font-family:
					'Rubik Variable',
					-apple-system,
					/* iOS and macOS */ BlinkMacSystemFont,
					/* Chrome on macOS */ 'Segoe UI',
					/* Windows */ Roboto,
					/* Android and Chrome OS */ 'Helvetica Neue',
					/* Older macOS */ Arial,
					/* Common fallback */ 'Noto Sans',
					/* Comprehensive Unicode support */ sans-serif,
					/* Generic sans-serif */ 'Apple Color Emoji',
					/* Emoji support on Apple devices */ 'Segoe UI Emoji',
					/* Emoji support on Windows */ 'Segoe UI Symbol',
					/* Symbol support on Windows */ 'Noto Color Emoji'; /* Emoji support on Android and other platforms */
			}
		</style>
	</body>
</html>
