---
// src/frontend/layouts/Layout.astro
import '@fontsource-variable/rubik/index.css';
import SpeedInsights from '@vercel/speed-insights/astro';
// Import the compiled CSS from our SCSS (make sure your build process generates this file)
import '@/frontend/styles/main.scss';
import { SiteInfo } from '@interfaces/data/siteInfo.interface';
import { SeoData } from '@interfaces/data/seoData.interface';

interface Props {
	siteInfo: SiteInfo;
	seoData: SeoData;
}

const { siteInfo, seoData } = Astro.props;
---

<!doctype html>
<html lang={siteInfo.lang ?? 'en'}>
	<head>
		<meta charset={siteInfo.charset ?? 'UTF-8'} />
		<title>{siteInfo.title}</title>
		<meta name="description" content={siteInfo.description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="icons/favicon.svg" />
		<link rel="canonical" href={import.meta.env.SITE} />
		<script type="application/ld+json" set:html={seoData} is:inline />
		<SpeedInsights />
	</head>
	<body>
		<!-- Content injected here will inherit global styles from main.css -->
		<slot />
	</body>
</html>
