---
import { twMerge } from "tailwind-merge";

interface Props {
	flex?: string;
	margin?: string;
	size?: string;
	align?: string;
	textAlign?: string;
	color?: string;
	weight?: string;
	letterSpacing?: string;
	textDecoration?: string;
	animation?: string;
	extraClass?: string;
}

const props = Astro.props as Props;

const {
	flex = "flex flex-row sm:flex-col",
	margin = "mb-24",
	align = "justify-content-center place-items-center place-content-center",
	textAlign = "text-center",
	size = "text-2xl md:text-3xl",
	color = "",
	weight = "font-light",
	letterSpacing = "tracking-wider",
	textDecoration = "",
	animation = "",
	extraClass: className = "",
} = props;

const titleStyles = twMerge(
	flex,
	margin,
	align,
	textAlign,
	size,
	color,
	weight,
	letterSpacing,
	textDecoration,
	animation,
	className,
);
---

<h2 class={titleStyles}>
	<slot />
</h2>
