---
import { twMerge } from "tailwind-merge";

// Interface defining the expected props for the SectionSubtitle component.
interface Props {
	margin?: string; // Margin around the subtitle (default: "mb-16")
	size?: string; // Font size of the subtitle (default: "text-xl")
	color?: string; // Text color (default: "")
	weight?: string; // Font weight (default: "font-thin")
	align?: string; // Text alignment (default: "text-center")
	extraClass?: string; // Additional CSS classes for customization
}

// Destructure props with default values
const {
	margin = "mb-16",
	size = "text-xl",
	color = "",
	weight = "font-thin",
	align = "text-center",
	extraClass = "",
} = Astro.props as Props;

// Merge classes using Tailwind's twMerge function to avoid conflicts
const subtitleStyles = twMerge(margin, size, color, weight, align, extraClass);
---

<!-- Render the subtitle with dynamic classes based on the props -->
<h3 class={subtitleStyles}>
	<slot />
</h3>
