---
interface GridCellProps {
	flex?: string; // Flexbox direction for the cell content
	align?: string; // Alignment and justification of content within the cell
}

const props = Astro.props as GridCellProps;
const { flex = "flex-col", align = "align-center justify-center" } = props;
---

<!-- GridCell container with dynamic flex direction and alignment -->
<div class={`flex ${flex} ${align}`}>
	<slot />
	<!-- Slot to insert cell content -->
</div>
