---
import { twMerge } from "tailwind-merge";

// Interface defining the expected props for the SectionTitle component.
interface Props {
	margin?: string; // Margin around the title (default: "mb-24")
	size?: string; // Font size of the title (default: "text-2xl md:text-3xl")
	color?: string; // Text color (default: "")
	weight?: string; // Font weight (default: "font-light")
	align?: string; // Text alignment (default: "text-center")
	extraClass?: string; // Additional CSS classes for customization
}

// Destructure props with default values
const {
	margin = "mb-24",
	size = "text-2xl md:text-3xl",
	color = "",
	weight = "font-light",
	align = "text-center",
	extraClass = "",
} = Astro.props as Props;

// Merge classes using Tailwind's twMerge function to avoid conflicts
const titleStyles = twMerge(margin, size, color, weight, align, extraClass);
---

<!-- Render the title with dynamic classes based on the props -->
<h2 class={titleStyles}>
	<slot />
</h2>
