/* src/styles/animations/subtle-bounce-animation.css */

/* Action Icon Component Styles */
.action-base.action-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem; /* text-sm */
    padding: 0.5rem; /* p-2 */
    border-radius: 9999px; /* fully rounded */
}

/* Adjust font size for larger screens */
@media (min-width: 768px) {
    .action-base.action-icon {
        font-size: 1rem; /* md:text-base */
    }
}

/* Scroll button styles */
.action-base.action-icon-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem; /* rounded-3xl */
    position: absolute;
    bottom: 0;
    min-width: 2.5rem;
    min-height: 3rem;
    margin-top: 8rem;
    filter: brightness(125%); /* Enhances brightness slightly */
    transform: translateX(-50%); /* Centers the button horizontally */
    @apply subtle-bounce transition-transform duration-300 ease-in-out; /* Apply only the valid Tailwind classes */
    transition: filter 0.3s ease-in-out; /* Manually define transition for filter */
}

/* Color variants */

/* Primary color variant */
.action-base.action-icon-scroll.color-primary {
    background-color: var(--primary-light);
    border: 2px solid var(--primary-light);
    color: var(--primary-default);
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out; /* Smooth transition for color and border */
}

/* Secondary color variant */
.action-base.action-icon-scroll.color-secondary {
    background-color: var(--secondary-light);
    border: 2px solid var(--secondary-light);
    color: var(--secondary-default);
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, filter 0.3s ease-in-out; /* Include transition for filter */
}

/* Accent color variant */
.action-base.action-icon-scroll.color-accent {
    background-color: var(--neutral-lightest);
    border: 1px solid var(--accent-default);
    color: var(--accent-default);
    filter: brightness(105%);
    will-change: color, border, filter; /* Sugerencia al navegador para optimizar las transiciones */
    transition:
        color 0.3s ease-in-out,
        border 0.3s ease-in-out,
        filter 0.3s ease-in-out;
}

/* Hover states */

/* Primary hover state */
.action-base.action-icon-scroll.color-primary:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 2px solid var(--primary-default);
}

/* Secondary hover state */
.action-base.action-icon-scroll.color-secondary:hover {
    background-color: var(--secondary-light);
    color: var(--secondary-dark);
    border: 2px solid var(--secondary-default);
}

/* Accent hover state */
.action-base.action-icon-scroll.color-accent:hover {
    color: var(--accent-dark);
    border: 0.25rem solid var(--accent-default);
}



/* Secondary button styles */
.action-base.action-icon-secondary {
    display: flex;
	flex: shrink;
	color: var(--primary-light);
    justify-content: center;
    align-items: center;
    bottom: 0;
    @apply transition-transform duration-300 ease-in-out; /* Apply only the valid Tailwind classes */
    transition: filter 0.3s ease-in-out; /* Manually define transition for filter */
}

