/* src/components/common/ActionWrapper.css */

.action-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  flex-wrap: wrap;
  width: 100%;
}


/* Responsive styles */
@media (min-width: 640px) {
  .action-wrapper{
    flex-direction: row;
  }
}
