/* src/styles/common/_bullet-list.scss */
@use '../global/variables' as vars;
@use 'sass:map';

.bullet-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: none;
	padding: 0;
	margin: 0;

	&--compact {
		gap: 0.25rem;
	}

	&__item {
		display: flex;
		align-items: flex-start;
		gap: 0.75rem;
		color: map.get(vars.$colors, text, default);
		font-size: 1rem;
	}

	&__icon {
		height: 1.25rem;
		width: 1.25rem;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: map.get(vars.$colors, primary, default);
	}
}
