---
import Hero from '@/frontend/components/XV/Hero.xv.astro';
import EventDetails from '@frontend/components/XV/EventLocation.xv.astro';
import '@frontend/styles/XV/invitation.xv.scss';
---

<div class="invitation">
	<Hero />
	<EventDetails />
</div>
