/* src/styles/home/_services.scss */
@use '../global/variables' as vars;
@use '../global/mixins' as mixins;
@use 'sass:map';

.services {
	// Section styles handled by layout


	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__image-container {
		overflow: hidden;
		border-radius: 1.5rem;
	}

	&__image-wrapper {
		overflow: hidden;
		border-radius: 1.5rem;
		margin-top: 2rem;
	}

	// Custom utilities to replace Tailwind
	&__grid-gap {
		column-gap: 6rem; // gap-x-24 is 6rem

		@include mixins.respond-to(xl) {
			column-gap: 10rem; // gap-x-40 is 10rem
		}
	}

	&__image-hover {
		&:hover {
			transform: scale(1.05);
		}
	}
}
