---
/**
 * src/sections/Header.astro
 *
 * This Astro component renders the header section, including desktop and mobile navigation bars.
 */

import HeaderBehavior from '@components/ui/header/HeaderBehavior.tsx';
import NavBarDesktop from '@components/ui/header/NavBarDesktop.tsx';
import NavBarMobile from '@components/ui/header/NavBarMobile.tsx';
import type { NavBarProps } from '@interfaces/ui/components/navBar.interface.ts';

// Assign the entire 'data' object from Astro.props
import logoSrc from '@images/header/horizontalLogo150x56.png';
const data: NavBarProps = { ...Astro.props.data, logoSrc };
---

<header id={data.headerId} class={data.headerId}>
	<div class="header-container">
		<!-- Pass the #id as a "selector" prop to HeaderBehavior -->
		<HeaderBehavior client:idle selector={`#${data.headerId}`} />

		<nav class="main-menu-container">
			<!-- Pass all properties of 'data' to NavBarDesktop and NavBarMobile using the spread operator -->
			<NavBarDesktop {...data} client:idle />
			<NavBarMobile {...data} client:idle />
		</nav>
	</div>
</header>
