---
// src/sections/Testimonials.astro
import Container from '@components/layout/Container.astro';
import Section from '@components/layout/Section.astro';
import SectionTitle from '@components/typography/SectionTitle.astro';
import TestimonialsCarousel from '@components/ui/TestimonialsCarousel.tsx';

import type { TestimonialsData } from '@/interfaces/ui/sections/landing-page.interface';

// Import stylesheet
import '@/styles/home/_testimonials.scss';

interface Props {
	data: TestimonialsData;
}

// Destructure the data prop
const { data } = Astro.props;
---

<!-- Testimonials section wrapper -->
<Section id="testimonios" fullHeight={true} fullWidth={true}>
	<!-- Container wrapper -->
	<Container class="w-full">
		<!-- Section title -->
		<SectionTitle color="text-secondary-dark" extraClass="testimonials__title-text">
			{data.title}
		</SectionTitle>
		<!-- React TestimonialsCarousel component with client:visible directive for lazy loading -->
		<TestimonialsCarousel {...data} client:visible />
	</Container>
</Section>
