---
interface Props {
	width?: string; // Optional width, Tailwind classes for width
	height?: string; // Optional height, Tailwind classes for height
	padding?: string; // Optional padding, Tailwind classes for padding
	justify?: string;
	align?: string;
	margin?: string; // Optional margin, Tailwind classes for margin
}

const props = Astro.props as Props;
const {
	width = "w-full",
	height = "h-auto",
	padding = "",
	justify = "justify-center",
	align = "items-center",
	margin = "",
} = props;
---

<div class:list={["flex", width, height, padding, justify, align, margin]}>
	<slot />
</div>
