---
interface Props {
	width?: string; // Optional width, Tailwind classes for width
	height?: string; // Optional height, Tailwind classes for height
	padding?: string; // Optional padding, Tailwind classes for padding
	margin?: string; // Optional margin, Tailwind classes for margin
	className?: string; // Additional optional classes
}

const props = Astro.props as Props;
const {
	width = "w-full md:w-auto",
	height = "h-auto",
	padding = "p-0",
	margin = "m-0",
	className = "flex justify-center items-center",
} = props;
---

<div class:list={[width, height, padding, margin, className]}>
	<slot />
</div>
