---
import Icon from "@/components/Icon.astro";
import IconWrapper from "@/components/IconWrapper.astro";
import type { Icon as IconType, Service } from "@/config/landing.interface";
import Paragraph from "./Paragraph.astro";
import SectionSubtitle from "./SectionSubtitle.astro";

interface Props {
	service: Service;
	key: number;
}

const { service } = Astro.props;
---

<article
	class="flex flex-col items-center justify-content transition-transform transform hover:scale-105"
>
	<div class="grid justify-items-center max-w-80">
		<div class="mt-6">
			<IconWrapper background="bg-secondary">
				<Icon icon={service.icon as IconType} />
			</IconWrapper>
		</div>
		<div class="text-secondary-dark text-center">
			<SectionSubtitle>
				{service.title}
			</SectionSubtitle>
			<p class="text-xl"></p>
			<Paragraph>
				{service.description}
			</Paragraph>
		</div>
	</div>
</article>
