---
import '@styles/XV/family.xv.scss';
import HeartIcon from '@/frontend/components/XV/components/HeartIcon.xv';
import SectionNavButton from './components/SectionNavButton.xv.astro';
---

<section class="family" role="region" id="family-section">
	<div class="family__content">
		<!-- Contenedor circular de la imagen con efecto zoom al pasar el cursor -->

		<!-- Frase introductoria con tipografía manuscrita -->
		<p class="family__intro">
			Con gran amor, agradezco a quienes, con cada consejo, cada gesto y cada abrazo, han sido
			parte de mi camino.
		</p>

		<!-- Grupos de nombres: Padres y Padrinos con separador -->
		<div class="family__groups">
			<!-- Grupo de Padres -->
			<div class="family__group">
				<div class="family__group-header">
					<h3 id="parents-title" class="family__group-title">Padres</h3>
				</div>
				<ul class="family__names" aria-labelledby="parents-title">
					<li class="family__name">Tomás Anguamea Buitimea</li>
					<li class="family__name">Claudia Guadalupe Zamorano</li>
				</ul>
			</div>

			<HeartIcon className="family__separator" />
			<!-- Grupo de Padrinos -->
			<div class="family__group">
				<div class="family__group-header">
					<h3 id="godparents-title" class="family__group-title">Padrinos</h3>
				</div>
				<ul class="family__names" aria-labelledby="godparents-title">
					<li class="family__name">Edgar David Bojórquez</li>
					<li class="family__name">Barbie Rosalinda Austin</li>
					<li class="family__name">-</li>
					<li class="family__name">Susana Zamorano González</li>
					<li class="family__name">Miguel Octavio Bojórquez</li>
				</ul>
			</div>
		</div>

		<div class="family__picture">
			<img
				src="https://res.cloudinary.com/dusxvauvj/image/upload/v1737591025/5_uzryll.webp"
				alt="Estefanía Anguamea Zamorano"
			/>
		</div>
	</div>
	<div class="nav-button-container">
		<SectionNavButton href="#" class="family-section" section="Padres y Padrinos" />
	</div>
</section>
