---
/*
 * src/frontend/components/XV/Rsvp.xv.astro
 * ------------------------------------------------
 * RSVP Confirmation Section Astro Component
 */
import '@styles/XV/rsvp.xv.scss';
import RsvpConfirmation from './components/RsvpConfirmation.xv';
---

<section class="rsvp-section" id="rsvp-section">
	<RsvpConfirmation client:load />

	<!-- Success Greeting (shown after a successful RSVP) -->
	<div class="rsvp__greeting" hidden>
		<p class="rsvp__greeting-message">
			¡Nos vemos pronto! Gracias por confirmar antes del
			<span class="rsvp__greeting-message__underline">02 de marzo.</span>
		</p>
		<div class="rsvp__instagram-wrapper">
			<a
				href="https://www.instagram.com/estfmna/"
				target="_blank"
				rel="noopener noreferrer"
				class="rsvp__instagram-button"
			>
				¡Sígueme en Instagram!
			</a>
		</div>
	</div>
</section>
