---
import SideBySide from "@/components/layout/SideBySide.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import type { advantagesData } from "@/config/landing.interface";

interface Props {
	data: advantagesData;
}

const { data } = Astro.props;
---

<section id="advantages-section" class="flex flex-col mb-20 gap-y-28">
	<SectionTitle>
		{data.title}
	</SectionTitle>
	<div>
		{
			data.advantages.map((advantage, idx) => (
				<SideBySide data={advantage} reversed={(idx + 1) % 2 === 0} />
			))
		}
	</div>
</section>
