---
import Container from "@/components/layout/Container.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import Section from "@/components/layout/Section.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import SectionSubtitle from "@/components/typography/SectionSubtitle.astro";
import ContactForm from "@/components/ui/ContactForm";
import type { ContactData } from "@/config/landing.interface";
import ActionIcon from "@/components/common/actions/ActionIcon";

// Define the props interface for type safety
interface Props {
	data: ContactData;
}

// Destructure the data prop
const { data } = Astro.props;
---

<!-- Contact Section -->
<Section
	id="contact-section"
	fullHeight={true}
	fullWidth={true}
	backgroundImageMobile="/images/contact/bgContactMobile.jpg"
	backgroundImageDesktop="/images/contact/bgContactDesktop.jpg"
	backgroundEffect="absolute inset-0 bg-gradient-to-t from-black to-transparent"
>
	<!-- Top decorative line  -->
	<div class="bg-secondary-dark w-full h-0.5 absolute inset-0 opacity-50 shadow-md"></div>
	<StyledContainer relative="relative" width="w-full" margin="m-8 mb-32">
		<Container padding="px-8">
			<!-- Section Title -->
			<SectionTitle color="text-primary-dark" margin="mt-16">
				{data.title}
			</SectionTitle>

			<!-- Section Subtitle -->
			<SectionSubtitle color="text-accent-dark" size="text-sm md:text-lg" margin="my-8">
				{data.subtitle}
			</SectionSubtitle>

			<!-- Contact Form Component -->
			<ContactForm client:visible />
		</Container>
	</StyledContainer>

	<!-- Scroll Action to return to pricing section -->
	<ActionIcon
		icon="ArrowUpIcon"
		variant="scroll"
		href="#pricing-section"
		color="secondary"
		title="Regresar a ver nuestras ofertas"
		icon="ArrowUpIcon"
		className="contact-section__scroll-action"
	/>
</Section>
