---
import Action from "@/components/common/Action.astro";
import ButtonWrapper from "@/components/common/ButtonWrapper.astro";
import Container from "@/components/layout/Container.astro";
import Section from "@/components/layout/Section.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import FAQList from "@/components/ui/FAQList";
import type { FAQData } from "@/config/landing.interface";

interface Props {
    data: FAQData;
}

const { data } = Astro.props;
---

<Section id="faq-section" fullHeight={true}>
    <Container>
        <SectionTitle>
            {data.title}
        </SectionTitle>
        <FAQList client:visible {...data} />
		<ButtonWrapper>
			<Action
			variant="scroll"
			href="#pricing-section"
			title="Regresar a la sección de planes"
			icon="ArrowUpIcon"
			class="border-secondary-light bg-secondary hover:text-secondary-light"
			/>
		</ButtonWrapper>
	</Container>
</Section>
