---
// src/sections/Footer.astro

import ActionBase from "@/components/common/actions/ActionBase";
import ActionWrapper from "@/components/common/actions/ActionWrapper";
import Container from "@/components/layout/Container.astro";
import Section from "@/components/layout/Section.astro";
import Logo from "@/components/ui/Logo";
import SocialMediaLinks from "@/components/common/actions/SocialMediaLinks.tsx";
import type { MenuData } from "@/core/interfaces/landingPage.interface";
import type { SiteData, SocialLink } from "@/core/interfaces/siteData.interface";

// Define the interface for social data
interface SocialData {
	socialLinks: SocialLink[];
}

// Define props for type safety
interface Props {
	siteData: SiteData;
	menuData: MenuData;
	socialData: SocialData;
}

// Get the props from Astro
const { siteData, menuData, socialData } = Astro.props;
---

<!-- Footer Component -->
<footer class="bg-black text-white w-full py-8">
	<!-- Use the Section component for padding and overflow management -->
	<Section padding="pt-8">
		<Container>
			<div class="flex flex-col items-center">
				<Logo variant="footer" />

				<!-- Footer description -->
				{
					siteData?.siteInfo?.slogan && (
						<p class="text-center text-primary/40 my-6 font-thin">
							{siteData?.siteInfo?.slogan}
						</p>
					)
				}

				<!-- Footer navigation links -->
				<ActionWrapper className="footer-menu">
					{
						menuData?.links?.length > 0 &&
							menuData.links.map((link) => (
								<ActionBase
									variant="text"
									as="a"
									href={link.href}
									className="footer-menu-item"
								>
									{link.label}
								</ActionBase>
							))
					}
				</ActionWrapper>

				<!-- Social media icons using the reusable component -->
				<SocialMediaLinks links={socialData.socialLinks} variant="social-footer" />
			</div>
		</Container>
	</Section>
</footer>
