---
import Action from "@/components/common/Action.astro";
import type { HeaderData } from "@/config/landing.interface";

interface Props {
	data: HeaderData;
}

const { data } = Astro.props;
---

<header
	id="navbar"
	class="w-full fixed top-0 z-50 hidden md:flex items-center justify-center transition duration-300 h-20 opacity-90 hover:opacity-100"
>
	<nav aria-label="Main Navigation" class="flex items-center w-3/4 px-12">
		<ul class="flex items-center w-full justify-center gap-x-2 md:gap-x-4 xl:gap-x-8 2xl:gap-16">
			<li class="flex items-center">
				<Action variant="text" class="font-semibold" href="#hero-section" class:list={["hover:text-primary-dark", "text-nowrap"]}>{data.logo}</Action>
			</li>
			{
				data.links.map((item) => (
					<li>
						<Action variant="text" href={item.href} class:list={["hover:text-primary-dark", "text-nowrap"]}>
  							{item.label}
						</Action>
					</li>
				))
			}
		</ul>
	</nav>
</header>
<script>
	window.addEventListener("scroll", function () {
		// eslint-disable-next-line prettier/prettier
		const navbar = document.getElementById("navbar");
		if (!navbar) return;

		const classesToAdd = ["border-b", "border-b-slate-300", "bg-white"];
		const classesToRemove = ["border-b-transparent", "bg-transparent"];

		if (window.scrollY >= 20) {
			navbar.classList.remove(...classesToRemove);
			navbar.classList.add(...classesToAdd);
		} else {
			navbar.classList.remove(...classesToAdd);
			navbar.classList.add(...classesToRemove);
		}
	});
</script>
