---
// src/sections/Hero.astro
// This component is used to render the hero section of the landing page, including the logo, slogan and cta buttons.
import ActionBase from "@/components/common/actions/ActionBase";
import ActionIcon from "@/components/common/actions/ActionIcon";
import Section from "@/components/layout/Section.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import type { IconNames } from "@/config/landing.interface";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import SectionSubtitle from "@/components/typography/SectionSubtitle.astro";
import WhatsAppButton from "@/components/ui/WhatsAppButton";
import ActionWrapper from "@/components/common/actions/ActionWrapper";

// Define the expected data structure for the Hero component
interface HeroData {
	icon?: IconNames;
	title: string;
	subtitle: string;
	primaryCta: string;
	secondaryCta: string;
}

interface Props {
	data: HeroData;
}

const { data } = Astro.props;
---

<Section
	id="hero-section"
	backgroundImageDesktop="/images/hero/bgHeroDesktop.jpg"
	backgroundImageMobile="/images/hero/bgHeroMobile.jpg"
	padding="py-20"
	relative="relative"
	fullWidth
	fullHeight
>
	<!-- Overlay for styling and layout adjustments -->
	<StyledContainer
		padding="py-14"
		width="w-5/6 md:w-5xl"
		minWidth="min-w-[300px]"
		maxWidth="max-w-[700px]"
		margin="m-auto"
		verticalAlign="items-center"
		horizontalAlign="justify-center"
		backgroundColor="bg-white"
		shadow="shadow-2xl"
		opacity="opacity-80"
		rounded="rounded-2xl"
		extraClasses="text-center"
	>
		<!-- Title with responsive settings and animation -->
		<SectionTitle
			margin="mb-0"
			align="text-center"
			size="text-lg sm:text-xl md:text-2xl lg:text-3xl"
			color="text-primary-dark/80"
			weight="font-light"
			extraClass="slide-in-left shadow-text-light tracking-widest"
		>
			{data.title}
		</SectionTitle>

		<!-- Responsive logo with accessibility enhancements -->
		<div class="shimmer permanent-glow">
			<img
				src="/images/hero/rectangleLogo400x200.png"
				srcset="/images/hero/rectangleLogo200x100.png 200w,
                 /images/hero/rectangleLogo250x125.png 250w,
                 /images/hero/rectangleLogo300x150.png 300w,
                 /images/hero/rectangleLogo350x175.png 360w,
                 /images/hero/rectangleLogo400x200.png 400w"
				sizes="(max-width: 480px) 200px,
               (max-width: 640px) 250px,
               (max-width: 768px) 300px,
               (max-width: 1024px) 360px,
               400px"
				alt="Logo celebra-me.com"
				class="mx-auto mb-2"
			/>
		</div>

		<!-- Subtitle for additional context with animation and styles -->
		<SectionSubtitle
			size="text-lg sm:text-xl md:text-2xl lg:text-3xl"
			align="text-center"
			weight="font-normal"
			color="text-accent-dark"
			margin="mx-12 mx-auto"
			extraClass="font-sans shadow-text-light tracking-widest fade-in fade-slow"
		>
			{data.subtitle}
		</SectionSubtitle>

		<!-- CTA Buttons for main actions -->
		<ActionWrapper>
			<WhatsAppButton client:idle />
			<!-- Internal link action using ActionBase -->
			<ActionBase as="a" href="#" variant="primary" color="secondary">
				{data.secondaryCta}
			</ActionBase>
		</ActionWrapper>
	</StyledContainer>

	<!-- Scroll button directing users to the next section -->
	<ActionIcon
		icon="ArrowDownIcon"
		variant="scroll"
		color="primary"
		as="a"
		href="#services-section"
		title="Conoce maÌs acerca de nuestros servicios"
	/>
</Section>
