---
import Container from "@/components/layout/Container.astro";
import Section from "@/components/layout/Section.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import TestimonialsCarousel from "@/components/ui/TestimonialsCarousel";
import Action from "@/components/common/Action.astro";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import type { TestimonialsData } from "@/config/landing.interface";

// Define the props interface for this component
interface Props {
    data: TestimonialsData;
}

// Destructure the data prop
const { data } = Astro.props;
---

<!-- Testimonials section wrapper -->
<Section id="testimonials-section" fullHeight={true} fullWidth={true}>
    <div id="testimonials"></div>
    <!-- Container wrapper -->
    <Container class="w-full">
        <!-- Section title -->
        <SectionTitle extraClass="mb-10">
            {data.title}
        </SectionTitle>
        <!-- React TestimonialsCarousel component with client:visible directive for lazy loading -->
        <TestimonialsCarousel {...data} client:visible />
    </Container>

    <!-- Action wrapper for the scroll button -->
    <ActionWrapper
        flex="flex-row"
        align="justify-center"
        margin="mt-12"
    >
        <!-- Scroll to Pricing Section Button -->
        <Action
            variant="scroll"
            href="#pricing-section"
            title="Click to go to the pricing section"
            icon="ArrowDownIcon"
            class="border-secondary-light bg-secondary hover:text-secondary-light"
        />
    </ActionWrapper>
</Section>
