/*
 * src/frontend/styles/components/sectionNavButton.module.scss
 * --------------------------------------------------
 * Section Navigation Button Component Styles
 * --------------------------------------------------
 */
@use 'sass:color';
@use '../global/functions' as funcs;
@use '../global/mixins' as mixins;

.section-nav-button {
	--scale: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 50px;
	border-radius: funcs.border-radius(oval);
	text-decoration: none;
	margin-top: 5rem;
	background-color: #fff;
	border: 2px solid #000;
	z-index: 1;
	animation: subtleBounce 2s ease-out infinite;
	@include mixins.transition('section-nav-button');

	&__icon {
		color: funcs.color('primary', 'default');
	}
}

.section-nav-button--hero {
	background-color: funcs.color('neutral', 'lightest');
	border: 1px solid funcs.color('accent', 'default');
	color: funcs.color('primary', 'dark');
	filter: brightness(120%);

	&:hover {
		color: funcs.color('accent', 'dark');
		border-color: funcs.color('accent', 'dark');
		filter: brightness(100%);
		transform: translateY(0) scale(1.05);
	}

	.section-nav-button__icon {
		color: funcs.color('primary', 'dark');
		filter: brightness(150%);
	}
}

.section-nav-button--pricing {
	background-color: funcs.color('primary', 'default');
	border: 1px solid funcs.color('primary', 'dark');
	color: funcs.color('primary', 'dark');
	filter: brightness(110%);

	&:hover {
		color: funcs.color('primary', 'light');
		border-color: funcs.color('primary', 'light');
		filter: brightness(100%);
		transform: translateY(0) scale(1.05);
	}

	.section-nav-button__icon {
		color: funcs.color('primary', 'dark');
	}
}

@keyframes subtleBounce {
	0%,
	100% {
		transform: translateY(0) scale(var(--scale));
	}
	50% {
		transform: translateY(-30px) scale(var(--scale));
	}
}

@media (prefers-reduced-motion: reduce) {
	.section-nav-button {
		animation: none;
	}
}
