/**
 * src/frontend/styles/components/typography.module.scss
 * -----------------
 * This file defines the typography for both general sections and the hero section.
 *
 * For the Hero Section, semantic classes are used:
 *   - .hero__title for the hero title.
 *   - .hero__subtitle for the hero subtitle.
 *
 * For other sections, default heading tags (h2 and h3) are styled.
 */

/* Base styles for non-hero titles and subtitles */
h2 {
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;

	@media (min-width: 768px) {
		margin-bottom: 6rem;
		font-size: 1.875rem;
	}
}

h3 {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 200;
	text-align: center;

	@media (min-width: 768px) {
		margin-bottom: 4rem;
		font-size: 1.5rem;
	}
}

/* Hero Section Typography */

/* Hero title style */
.hero__title {
	margin-bottom: 0;
	font-size: 1.125rem;
	color: rgba(var(--primary-dark-rgb), 0.8);
	font-weight: 300;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	letter-spacing: 0.1em;

	@media (min-width: 640px) {
		font-size: 1.25rem;
	}
	@media (min-width: 768px) {
		font-size: 1.5rem;
	}
	@media (min-width: 1024px) {
		font-size: 1.875rem;
	}
}

/* Hero subtitle style */
.hero__subtitle {
	font-size: 1.25rem;
	text-align: center;
	font-weight: 100;
	color: rgba(var(--accent-dark-rgb), 0.7);
	margin: 0 auto;
	font-family: sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.125em;

	@media (min-width: 640px) {
		font-size: 1.25rem;
	}
	@media (min-width: 768px) {
		font-size: 1.3rem;
	}
	@media (min-width: 1024px) {
		font-size: 1.4rem;
	}
}
