---
interface Props {
	flex?: string;
	margin?: string;
	align?: string;
	gap?: string;
}

const props = Astro.props as Props;
const {
	flex = "flex-row",
	margin = "mt-16",
	align = "justify-center",
	gap = "gap-x-6 md:gap-x-12",
} = props;
---

<div class:list={["flex", flex, margin, align, gap]}>
	<slot />
</div>
