---
interface Props {
	size?: string;
	lineHeight?: string;
	align?: string;
	wrap?: string;
	textColor?: string;
	weight?: string;
	padding?: string;
	maxWidth?: string;
}

const props = Astro.props as Props;
const {
	size = "text-base",
	lineHeight = "leading-relaxed",
	align = "text-center",
	wrap = "",
	textColor = "text-secondary-dark",
	weight = "font-thin",
	padding = "px-2",
	maxWidth = "max-w-max",
} = props;
---

<p class:list={[size, lineHeight, align, wrap, textColor, weight, padding, maxWidth]}>
	<slot />
</p>
