/* Footer Styles for XV Invitation */
// Renamed from footer.xv.scss

@use '@/styles/XV/variables.xv' as *;
@use '../global/mixins' as mixins;

.invitation-footer {
	background-color: $color-white;
	padding: 0 1rem;
	font-family: $font-footer;
	color: $color-dark;
	font-size: 0.9rem;
	border-top: 1px solid rgba($color-dark, 0.1);
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: space-around;

	@include mixins.respond-to(xs) {
		justify-content: flex-end;
		padding-right: 10%;
		height: 7vh;
	}
}

.footer-content {
	display: flex;
	align-items: center;
	gap: 3rem;
	white-space: nowrap;
}

.footer-info {
	display: flex;
	align-items: center;
	gap: 1rem;
	p {
		margin: 0;
	}
}

.powered-by {
	display: none;
	font-size: 0.8rem;
	opacity: 0.8;

	@include mixins.respond-to(xs) {
		display: block;
	}
}

.contact-number {
	opacity: 0.8;
}

.whatsapp-button {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	background-color: rgba($color-secondary, 0.5);
	color: rgba($color-dark, 0.7);
	padding: 0.5rem 1rem;
	border-radius: 99px;
	transition:
		background-color 0.3s ease,
		transform 0.3s ease;
	font-family: $font-button;
	font-size: 0.6rem;

	svg {
		width: 0.8rem;
		height: 0.8rem;
		fill: rgba($color-whatsapp, 0.6);
	}

	@include mixins.respond-to(md) {
		font-size: 0.8rem;
		svg {
			width: 1rem;
			height: 1rem;
			fill: rgba($color-whatsapp, 0.6);
		}
	}

	&:hover {
		transform: scale(1.05);
		filter: brightness(1.05);
	}

	&:active {
		transform: scale(1);
	}
}
