---
import { resolveIconComponent } from './registry';

interface Props {
	name: string;
	size?: number | string;
	class?: string;
}

const { name, size, class: className } = Astro.props;

const SelectedIcon = resolveIconComponent(name);

// Combine classes: 'universal-icon' is always required
const combinedClass = ['universal-icon', className].filter(Boolean).join(' ');
---

{
	SelectedIcon ? (
		<SelectedIcon size={size} className={combinedClass} />
	) : (
		<div class:list={['universal-icon--fallback', className]}>
			{name?.charAt(0) || '?'}
		</div>
	)
}

<style lang="scss">
	.universal-icon--fallback {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1em;
		height: 1em;
		font-size: inherit;
	}
</style>
