---
/* src/sections/Header.astro */
/* This component represents the header section of the website, responsible for displaying the logo,
   navigation menus, and handling responsive behavior for desktop and mobile views. */

import HeaderBehavior from '@components/ui/header/HeaderBehavior'; // Manages header behavior and interactions
import NavBarDesktop from '@components/ui/header/NavBarDesktop'; // Component for desktop navigation
import NavBarMobile from '@components/ui/header/NavBarMobile'; // Component for mobile navigation

const { menuData, socialData } = Astro.props; // Destructure data from Astro props
---

<header id="main-header" class="main-header">
	<div class="header-container">
		<!-- Initialize header behaviors such as scrolling and menu toggling -->
		<HeaderBehavior client:load />

		<!-- Main navigation menu container that manages desktop and mobile visibility -->
		<nav class="main-menu-container">
			<!-- Desktop navigation menu, visible on larger screens -->
			<NavBarDesktop menuData={menuData} socialData={socialData} client:load />

			<!-- Mobile navigation menu, visible on smaller screens -->
			<NavBarMobile menuData={menuData} socialData={socialData} client:load />
		</nav>
	</div>
</header>
