---
import type { Icon as IconType } from "@/config/landing.interface";
import Icon from "./Icon.astro";
import IconWrapper from "./IconWrapper.astro";

interface Props {
	size?: string;
	color?: string;
	weight?: string;
	icon?: IconType;
}

const props = Astro.props as Props;
const { size = "text-sm", color = "", weight = "font-light", icon } = props;
---

<li class={`flex ${size}`}>
	{
		icon && (
			<IconWrapper background="bg-transparent" size="h-8 w-8" padding="p-2" align="">
				<Icon icon={icon} />
			</IconWrapper>
		)
	}
	<div class={`flex items-center ${color} ${weight} hover:font-normal`}><slot /></div>
</li>
