---
interface Props {
	bgColor?: string;
	borderColor?: string;
	textColor?: string;
	hover?: string;
	extraClass?: string;
}

const props = Astro.props as Props;
const {
	bgColor = "bg-white",
	borderColor = "border-primary",
	textColor = "text-primary-light",
	hover = "hover:brightness-105",
	extraClass = "",
} = props;

const classList = [
	bgColor,
	"border-2",
	borderColor,
	textColor,
	"rounded-lg",
	"shadow-2xl",
	"p-5",
	"min-w-xs",
	"max-w-xs",
	"min-h-sm",
	"max-h-sm",
	hover,
	extraClass,
	"transition-all duration-300", // Added smooth transition
].join(" ");
---

<article class={classList}>
	<div class="flex flex-col content-center items-center text-center">
		<slot />
	</div>
</article>
