---
interface Props {
	bgColor?: string;
	borderColor?: string;
	textColor?: string;
	maxWidth?: string;
	minHeight?: string;
	hover?: string;
	extraClass?: string;
}

const props = Astro.props as Props;
const {
	bgColor = "bg-white",
	borderColor = "border-primary",
	textColor = "text-primary-light",
	maxWidth = "max-w-xs", // Define a max width to ensure consistency
	minHeight = "min-h-[200px]", // Ensures all cards have a minimum height
	hover = "hover:brightness-105",
	extraClass = "",
} = props;

const classList = [
	bgColor,
	"border-2",
	borderColor,
	textColor,
	"rounded-lg",
	"shadow-2xl",
	"p-5",
	hover,
	extraClass,
	"transition-all duration-300",
	"flex", // Make the card a flex container
	"flex-col", // Arrange children vertically
	"justify-between", // Space elements evenly within the card
	"items-center", // Center elements horizontally
	minHeight, // Apply minimum height
	maxWidth, // Apply maximum width
	"w-full", // Ensure the card takes the full width available in the grid
	"flex-grow", // Allow the card to grow to fill available space
	"flex-shrink-0", // Prevent the card from shrinking below its defined size
].join(" ");
---

<article class={classList}>
	<div class="flex flex-col w-full h-full items-center text-center">
		<div class="mb-6"></div>
		<slot />
	</div>
</article>
