---
interface Props {
	bgColor?: string;
	borderColor?: string;
	textColor?: string;
	hover?: string;
	extraClass?: string;
}

const props = Astro.props as Props;
const {
	bgColor = "bg-white",
	borderColor = "border-primary",
	textColor = "text-primary-light",
	hover = "hover:brightness-105",
	extraClass = "",
} = props;
---

<article
	class:list={[
		bgColor,
		"border-2",
		borderColor,
		textColor,
		"rounded-lg",
		"shadow-2xl",
		"p-5",
		"min-w-xs",
		"max-w-xs",
		"min-h-sm",
		"max-h-sm",
		hover,
		extraClass,
	]}
>
	<div class="flex flex-col content-center items-center text-center">
		<slot />
	</div>
</article>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// eslint-disable-next-line prettier/prettier
		const cards = document.querySelectorAll(".bg-button-hover");

		cards.forEach((card) => {
			const action = card.querySelector(".card-action");

			card.addEventListener("mouseenter", function () {
				action?.classList.add("action-hovered");
			});

			card.addEventListener("mouseleave", function () {
				action?.classList.remove("action-hovered");
			});
		});
	});
</script>
