---
interface Props {
	size?: string;
	color?: string;
	align?: string;
	padding?: string;
	background?: string;
}

const props = Astro.props as Props;

const {
	size = "h-11 w-12",
	color = "text-primary",
	align = "items-center",
	padding = "p-2",
	background = "bg-secondary",
} = props;
---

<div class:list={[background, padding, "rounded-full", "flex", align, size, color]}>
	<slot />
</div>
