---
interface Props {
	size?: string;
	color?: string;
	fill?: string;
	padding?: string;
	className?: string;
	background?: string;
}

const props = Astro.props as Props;

const {
	background = "bg-secondary",
	padding = "p-2",
	size = "h-11 w-12",
	color = "text-primary",
	className = "",
} = props;
---

<div
	class:list={[
		background,
		padding,
		"rounded-full",
		"flex",
		"items-center",
		size,
		color,
		className,
	]}
>
	<slot />
</div>
