---
interface Props {
	flex?: string;
	margin?: string;
	size?: string;
	align?: string;
	color?: string;
	weight?: string;
	className?: string;
}

const props = Astro.props as Props;
const {
	flex = "justify-center",
	margin = "mb-24",
	align = "text-center",
	size = "text-3xl md:text-4xl",
	color = "",
	weight = "font-light",
	className = "",
} = props;
---

<h2 class:list={[flex, margin, align, size, color, weight, className]}><slot /></h2>
