---
interface Props {
	margin?: string;
	size?: string;
	align?: string;
	color?: string;
	weight?: string;
	textDecoration?: string;
	extraClass?: string;
}

const props = Astro.props as Props;
const {
	margin = "mb-24",
	align = "text-center",
	size = "text-3xl md:text-4xl",
	color = "",
	weight = "font-light",
	textDecoration = "",
	extraClass = "",
} = props;
---

<h2 class:list={[margin, align, size, color, weight, textDecoration, extraClass]}><slot /></h2>
