---
interface Props {
	size?: string;
	fontFamily?: string;
	weight?: string;
	color?: string;
}

const props = Astro.props as Props;

const {
	size = "text-2xl md:text-3xl",
	weight = "font-thin",
	color = "",
	fontFamily = "sans-serif",
} = props;
---

<h3 class={`text-center ${size} ${weight} ${color} ${fontFamily}`}><slot /></h3>
